
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}
<div class="col-md-12">
    <div class="col-md-12" style="line-height:50px;font-weight:bold;border-bottom:1px solid #ccc"><i class="fa fa-video-camera fa-fw"></i>上传视频信息</div>

    <div class="col-md-12" style="margin-top: 10px;border: 1px solid #ccc;border-radius: 5px;">
        <div class="col-md-3" style="margin-top: 5px;margin-bottom: 5px;">
            <img src="~/Content/img/video/av10322138.png" alt="..." class="img-rounded" style="width:160px;height:100px;">
        </div>
        <div class="col-md-9">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h3>视频标题</h3>
                </div>
                <div class="col-md-12">
                    <small>发布时间：2020年2月15日</small>
                    <p class="text-nowrap">
                        <small style="margin-right:20px"><i class="fa fa-play"></i>播放量：123</small>
                        <small style="margin-right:20px"><i class="fa fa-check-circle-o"></i>状态：正常</small>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary" style="margin:10px">修 改</button>

                </div>
                <div class="col-md-12">
                    <!-- Indicates a successful or positive action -->
                    <button type="button" class="btn btn-danger" style="margin:10px">删 除</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 10px;border: 1px solid #ccc;border-radius: 5px;">
        <div class="col-md-3" style="margin-top: 5px;margin-bottom: 5px;">
            <img src="~/Content/img/video/av10322138.png" alt="..." class="img-rounded" style="width:160px;height:100px;">
        </div>
        <div class="col-md-9">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h3>视频标题</h3>
                </div>
                <div class="col-md-12">
                    <small>发布时间：2020年2月15日</small>
                    <p class="text-nowrap">
                        <small style="margin-right:20px"><i class="fa fa-play"></i>播放量：123</small>
                        <small style="margin-right:20px"><i class="fa fa-check-circle-o"></i>状态：正常</small>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary" style="margin:10px">修 改</button>

                </div>
                <div class="col-md-12">
                    <!-- Indicates a successful or positive action -->
                    <button type="button" class="btn btn-danger" style="margin:10px">删 除</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12" style="margin-top: 10px;border: 1px solid #ccc;border-radius: 5px;">
        <div class="col-md-3" style="margin-top: 5px;margin-bottom: 5px;">
            <img src="~/Content/img/video/av10322138.png" alt="..." class="img-rounded" style="width:160px;height:100px;">
        </div>
        <div class="col-md-9">
            <div class="col-md-8">
                <div class="col-md-12">
                    <h3>视频标题</h3>
                </div>
                <div class="col-md-12">
                    <small>发布时间：2020年2月15日</small>
                    <p class="text-nowrap">
                        <small style="margin-right:20px"><i class="fa fa-play"></i>播放量：123</small>
                        <small style="margin-right:20px"><i class="fa fa-check-circle-o"></i>状态：正常</small>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="col-md-12">
                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-primary" style="margin:10px">修 改</button>

                </div>
                <div class="col-md-12">
                    <!-- Indicates a successful or positive action -->
                    <button type="button" class="btn btn-danger" style="margin:10px">删 除</button>
                </div>
            </div>
        </div>
    </div>
</div>